@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;  
}

:root {
    --bg-body: #283346;
    --primary-color: #386ff7;
    --section-color:#3871ff;
    --button-color:#376ef8;
    --color-a-1:#979ca4;
    --font-size-p: 20px;
    --font-size-t: 40px;
    --font-color-1: #979ca4;
}

/*------------- body --------------*/
body {
    background-image: url("../images/asset-background.jpg");
    background-color: var(--bg-body);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    color: var(--bg-body);
    font-family: 'Montserrat';
    margin: auto;
    padding: auto;
    font-optical-sizing: auto;
    height: auto;
    font-size: var(--font-size-p);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--bg-body);    
}

.body{
    background-color: var(--bg-body);    
}

/*------------ nav -----------*/
nav {
    margin: 0rem 6rem 0rem 6rem;
}

#navbar-brand{
    color: white;
    background-color: var(--bg-body);
}

nav.bg-gym{
    background-color: transparent;
}

nav.bg-gym a{
    color: var(--font-color-1);
    font-size: var(--font-size-p);
}

.navbar-nav a:hover::after{
    background:white;
    width: 40%;
}

nav.bg-gym a:hover{
    color: white;
}

#svg-img{
    margin-right: 0.1;
    margin-bottom: 0.1em;
}

/*-------------- key frames -------------------*/
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-from-left {
    from {
        transform: translateX(-900%);
    }
    to {
        transform: translateX(10);
    }
}

@keyframes rotate {
    0% {
      transform: rotateY(0deg); /* La rotación inicial es de 0 grados */
    }
    100% {
      transform: rotateY(360deg); /* La rotación final es de 360 grados */
    }
}

/*-------------animation javascript--------------------*/

[data-animation="show"] {
    opacity: var(--opacity, 0); 
    transform: translateY(100%) var(--transform, translate(0));
    transition: opacity .6s ease-in .3s, transform .6s ease-in .3s; 
}

.unset{
    opacity: var(--opacity);
    transform: var(--transform);
}


/*----------------------------------------------------------------------*/
.card-group  {
    animation: slide-from-left 3.5s ease;
}

/* ---------------- Hero -------------------- */
.contenedor{
    margin: 0rem 6rem 0rem 6rem;
}

.root {
    animation: fade-in 6s ease;
}

.root {
    opacity: 1;
    animation-fill-mode: forwards ;
}

.container .width{
    width: 40%;
}

.container .row{
    width: 100%;
    font-size: var(--font-size-p);   
}

.row-intro-card {
    min-height: 30vw;
}
.row .width{
    width: 50%;
}

article h1 {
    padding-bottom: 1rem;
    font-size: var(--font-size-t);
    color: white;
    font-family: 'Montserrat';
}

article p {
    padding-bottom: 2em;
    color: var(--font-color-1) ;
}

.row button {
    padding-top: 10px;
    width: 15%;
    background-color: transparent; 
    border: 1px solid var(--color-a-1);
    color: var(--color-a-1);
    margin-right: 15px;
} 

.row button:hover {
    background-color: var(--button-color);
    color: white;
    border: none;
}

/* ---------- intro cards ----------*/
.row{
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.row-intro-card{
    align-items: center;
    text-align: center;
    
}

.row h6 {
    color: white;
    font-size: var(--font-size-t);
    font-family: 'Montserrat';
}

.row p{
    color: var(--font-color-1);
    font-size: var(--font-size-p);
}

/*----------- cards ---------*/
.card-group{
    position: absolute;
    border-radius: 0; 
    right: -35%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 70vw;
}

.card-group svg path{
    color: white;
}

.card-header- a{
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-group svg {

    width: 6rem;
    height: 6rem;
    align-self: center;
    border-radius: 50%;
    background-color: #376ef8;
}

.card{
    margin-right: 10px;
    max-width: 400px;
    margin-bottom: 20px;
    min-height: 26em;
    max-height: 30em;
}

.card:last-child {
    margin-right: 0;
}

.card-body h5{
    display:flex;
    align-items: center;
    text-align: center;
    height: 3em;
    color: black;
    font-family: 'Montserrat';
    font-size: var(--font-size-p);
}

.card-body{
    display: flex;
    align-items: center;
    flex-direction: column;    
}

.card-title{
    display: flex;
    text-align: center;
}

.card-text{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    color: var(--font-color-1);
    padding: 5px;
    height: 50%;    
}

.card-body a{
    display: flex;
    align-items: center;
}

.card-body a {
    background-color: transparent; 
    border: 1px solid var(--color-a-1);
    color: var(--color-a-1);
    margin-right: 15px;
} 

.card-rounded{
    border-radius: 10px; 
    animation: rotate 2s infinite;
}
.card-group {
    perspective: 1000px; 
}

.card-rounded:hover {
    animation: rotate 1s forwards;
}

.card-body a:hover {
    background-color: var(--button-color);
    color: white;
    border: none;
}

/*------------section icons---------------*/
.icon-group{
    max-height: 50vw;
    min-height: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);     
}

.icon-p{
    display: flex;
    max-width: 50%;
    margin: 0rem 4rem 0rem 0rem;
    padding: 5px;
    flex-direction: column;
    font-family:'Montserrat' ;
    
}

.icon-p h4{
    margin-bottom: 20px;
    font-size: var(--font-size-t);
    color: white;
}

.icon-p p{
    color: var(--font-color-1);
    font-size: 18px;
}

.icon{
    display: flex;
    justify-content: space-around;
    width: 55px;
    height: 55px;
    background-color: transparent;
    align-items: center;
    margin: 50px;
}

.icon-column {
    margin-left: 4%;
    margin-right: 4%;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;    
}

.icon svg path {
    fill: white;
}

/*--------- section corp ----------*/
.corp-group{
    top: 10%;
    height: 40vw;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.corp-group .corp-title{
    padding: 6% 0% 2% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.corp-title h6{
    padding: 10px;
    font-size: 16px;
    font-family: 'Montserrat';
    color: var(--color-a-1);
}

.corp-fil{
    padding-top: 1%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.logo-corp {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 55px;
    height: 55px;
    background-color: transparent;
}

.logo-corp svg path {
    fill: rgba(128, 128, 128, 0.5); /* Gris con 50% de opacidad */
    
}

/*---------- card-group-two -------------*/
.card-group-two {
    position: absolute;
    top: 160vw;
    right: 5%;
    left: 5%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    font-family:'Montserrat' ;
    color: white;
}

.card-group-1{
    background-color: var(--primary-color);
    width: 90%;
    max-width: 40vw;
    max-height: 15vw;
    height: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 20px;
}

.card-group-1-2 p{
    color: var(--font-color-1);
    font-size: 16px;
}

.card-group-2 h4{
    height: 1em;
}
.card-group-1-2{
    width: 60%;
}

.card-group-1  .btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.card-group-2 .btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.card-group-2-1 p{
    font-size: 16px;
    color: var(--font-color-1);
}

.card-group-2{ right: 5%;
    left: 5%;
    max-width: 40vw;
    max-height: 15vw;
    height: 15vw;
    width: 90%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 20px;
    padding-bottom: 0px;
    justify-content: space-evenly;
}

.card-group-2 img{
    max-width: 12.7vw;
}

.card-group-two .btn{
    width: 10em;
    background-color: transparent;
    border: 1px solid white; 
    margin-right: 15px;
    color: white;
    margin-right: 15px;
    
}

.card-group-two .btn:hover {
    background-color: white;
    color: var(--primary-color);
    border: none;
}

/*----------- footer ------------------*/
footer{
    min-height: 50vw;
    margin: 0rem 6rem 0rem 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: var(--bg-body);
    height: 20rem;    
    align-items: center;
}

.footer-1{
    width: 50%;
    color: white;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.footer-2{
    width: 50%;
    color: white;
    display: flex;
    justify-content: space-evenly;
    font-size: var(--font-size-p);
    font-family: 'Montserrat';
}

.footer-div-1 h5{
    margin-bottom: 1.5rem;
}
.footer-div-1 p{
    margin-bottom: 1.5rem;
    color: var(--font-color-1);
}

.footer-div-2 a{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Montserrat';
    font-size: 16px;
    text-decoration: none;
    color: var(--font-color-1);
}

footer .title-foot{
    color: white;
}

.footer svg path {
    fill: var(--color-a-1)
}

.foot-icons svg{
    margin-right:2em;
}

/*-------- media querys ---------*/
@media (min-width: 2560px){
    .card-group{
        right: 0;
        top: 50vw;
    }
    .card-group-two{
        top: 145vw;
    }
    .footer{
        margin: 0rem 25rem 0rem 25rem;
    }
}

@media (max-width: 1240px){
    .row-intro-card {
        align-items: center;
        text-align: center;
        height: 50vw;
        margin: auto;
    }
    .card-group {
        top: 60vw;
    }
}

@media (max-width: 1024px){
    .row-intro-card {
        align-items: center;
        text-align: center;
        height: 50vw;
        margin: auto;
    }
    .card-group {
        top: 95vw;
    }
    .icon-group{
        height: 70vw;
        right: 4%;
        left: 4%;
        }
    .card-group-1{
        max-height: 28vw;
        height: 23vw;
    }   
    .card-group-2{
        max-height: 28vw;
        height: 23vw;
        padding: 20px;
    } 
    .card-group-1-2 {
        width: 90%;
    }   
    .card-group-1-2 p{
        height: 10vw;
        font-size: 16px;
    } 
    .card-group-2-1 p{
        height: 10vw;
        font-size: 16px;
    } 
    .card-group-2 img{
        width: 200px;
        max-width: 200px;
    }
    .card-group {
        top: 115vw;
    }
    .icon-group {
        min-height: 77vw
    }
    .card-group-two {
        top: 228vw;
    }    
}

@media (max-width: 995px) {
    .card-group {
        top: 100vw;
    }
    .row-intro-card {
        height: 50vw;
    }
}

@media (max-width: 768px) {
    .card-group {
        top: 130vw;
    }
    .row-intro-card {
        height: 70vw;
    }
    .row .width {
        width: 80%;
    }
    .card-group {
        top: 144vw;
    }
    .row button {
        width: 40%;
    }
    .icon-group{
        height: 250vw;
        right: 4%;
        left: 4%;
    } 
    .card-group {
        top: 154vw;
    }
    .card-group-1{
        height: 40vw;
        max-height: 50vw;
    }
    .card-group-2{
        height: 40vw;
        max-height: 40vw;
    }
    .card-group-1 h4{
        font-size: 20px;
    }
    .card-group-1 p{
        height: 16vw;
        font-size: 16px;
    }          
    .card-group-2 p{
        height: 16vw;
        font-size: 16px;
        max-height: 40vw;
    }  
    .card-group-2 h4{
        font-size: 20px;
        max-height: 40vw;
    }
    .card-group-2 img{
        display: none;
        
    }
    .icon-group {
        max-height: 122vw;
    }  
    .icon-p {
        padding: 45px;
    }
    .card-group-two {
        
        top: 320vw;
    }
    .card-group-1-2 {
        width: 90%;
    }
    .card-group-2 {
        padding: 25px;
    }
    .footer{
        min-height: 50em;
        margin: 1rem 2rem 0rem 2rem;
    }
}

@media (max-width: 425px) {
    nav{
        margin: 0rem 0rem 0rem 0rem;
    }
    .contenedor {
        margin: 0rem 0rem 0rem 0rem;
    }
    .container{
        padding: 0;
    }
    .card-group {
        position: relative;
        align-items: center;
        position: relative;
        top: 180.1vw;
        display: flex;
        flex-direction: column;
    }
    .card-rounded{
        width: auto;
    }
    .card {
        margin:0;
        max-width: 80%;
        min-height: 5rem;
    }
    .card-body h5 {
        font-size: 14px;
    }
    .row-intro-card {
        padding: 10px;
    }
    .container .row{
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        
    }
    .row .btn{
        left: 0;
        right: 0;
        margin: 0px;
        width: 100%;
    }
    .row a{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .row h1{
        text-align: center;
        
    }
    .row p{
        width: 100%;
        text-align: center;
    }
    .row-intro-card {
        width: 100%;
    }
    .icon-group{
        max-height: 260vw;
        right: 5%;
        left: 5%;
        flex-direction: column;
    }
    .icon-p{
        display: flex;
        justify-content: center;
        max-width: none;
        font-size: 14px;
        margin: 0rem 1rem 0rem 1rem;
        padding: 20px;
    }  
    .icon-column{
        max-width: 100%;
    }
    .corp-group{
        top: 10%;
        height: 60vw;
        background-color: white;
        justify-content: center;
        align-items: center;
    }
    .card-group-1-2{
        width: 100%;
    }
    .card-group-1-2 p{
        width: 100%;
        color: var(--font-color-1);
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-group-2-1 p{
        width: 25vw;
        color: var(--font-color-1);
        font-size: 20px;
    }
    .card-group-two{
        top: 865vw;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        right: 0;
        left: 0;
        font-family:'Montserrat' ;
        color: white;
        padding: 15px;
    }
    .card-group-two .btn{
        
        width: 100%;
    }
    .card-group-1{
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 80%;
        width: 100%;
        min-height: 70vw;
    }
    .card-group-1-2 p{
        text-align: center;
        width: 100%;
        font-size: 16px;   
    }
    .card-group-2-1 p{
        text-align: center;
        width: 100%;
        font-size: 16px;
    }
    .card-group-2 img{
        display: none;
        
    }
    .card-group-2{
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 80%;
        width: 100%;
        min-height: 80vw;
    }
    .card-group-1 h4{
        text-align: center;
        width: 100%;
        font-size: 18px;    
    }
    .card-group-2 h4{
        text-align: center;
        width: 100%;
        font-size: 18px;
    }
    .footer{
        min-height: 300vw;
        margin:6em 2em 0 2em;
        flex-direction: column;
        justify-content: flex-end;
    }
    .footer-div-1{
        margin-top: 10vw;
        margin-bottom: 10vw;
        min-height: 50vw;
    }
    .footer-1{
        width: 90%;
        align-items: center;
    }
    .foot-icons{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-2{
        width: 100%;
        margin: 4em;
        
    }
    .footer-div-1 p{
        margin-bottom: 5.5rem;
    }
    .footer-div-2 a {
        margin-top: 10px;
        justify-content: center;
        font-size: 12px;
        
    }
}

@media (max-width: 390px){
    .card-group-two {
        top: 940vw;
    }
    .card-group {
        top: 192.1vw;
    }
}


@media (max-width: 375px){
    .card-group-two {
        top: 980vw;
    }
}
@media (max-width: 320px){
    .card-group {
        top: 245vw;
    }
    .card-group-two {
        top: 1195vw;
    }
    .icon-group {
        height: 390vw;
    }
    .icon-group {
        max-height: 335vw;
    }
    .footer{
        min-height: 350vw;
    }
    .card-group-1-2 p {
        font-size: 12px;
    }
    .card-group-2-1 p {
        font-size: 12px;
    }
    .row .width {
    width: 90%;
    }
}

