@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;  
}

:root {
    --bg-body: #283346;
    --primary-color: #386ff7;
    --section-color:#3871ff;
    --button-color:#376ef8;
    --color-a-1:#979ca4;
    --font-size-p: 20px;
    --font-size-t: 40px;
    --font-color-1: #979ca4;
}

/*------------- body --------------*/
body {
    background-image: url('/images/asset-background.jpg');
    background-color: var(--bg-body);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    color: var(--bg-body);
    font-family: 'Montserrat';
    margin: auto;
    padding: auto;
    font-optical-sizing: auto;
    height: auto;
    font-size: var(--font-size-p);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--bg-body);    
}

.body{
    background-color: var(--bg-body);
}
/*------------ nav -----------*/
nav {
    margin: auto;
}


#navbar-brand{
    color: white;
    background-color: var(--bg-body);
}

nav.bg-gym{
    
    background-color: transparent;
}

nav.bg-gym a{
    color: var(--font-color-1);
    font-size: var(--font-size-p);
}

.navbar-nav a:hover::after{
    background:white;
    width: 40%;
}

nav.bg-gym a:hover{
    color: white;
}

/* ----------- Hero ------------ */

.container{
    padding: 2em 0 2em 0;
}

.container .width{
    width: 40%;
}

.container .row{
    width: 100%;
    font-size: var(--font-size-p);   
}

.row .width{
    width: 50%;
}

article h1 {
    padding-bottom: 1rem;
    font-size: var(--font-size-t);
    color: white;
    font-family: 'Montserrat';
}

article p {
    padding-bottom: 2em;
    color: var(--font-color-1) ;
}

.row button {
    padding-top: 10px;
    width: 15%;
    background-color: transparent; 
    border: 1px solid var(--color-a-1);
    color: var(--color-a-1);
    margin-right: 15px;
} 

.row button:hover {
    background-color: var(--button-color);
    color: white;
    border: none;
}

/* ---------- intro card ----------*/

.row{
    padding-top: 15px;
    padding-bottom: 10px;
}

.row-intro-card{
    align-items: center;
    text-align: center;
    height: 30vw;
    margin: auto;
    
}

.row h6 {
    color: white;
    font-size: var(--font-size-t);
    font-family: 'Montserrat';
}

.row p{
    color: var(--font-color-1);
    font-size: var(--font-size-p);
}

/*-------card group---------*/

.card-group{
    left: 10em;
    top: 65vw;
    position: absolute;
    display: flex;   
    border-radius: 0; 
}

.card{
    margin-right: 10px;
    width: 100vh;
    max-width: 356px;
    min-width: 250px;
    margin-bottom: 20px;
    min-height: 380px;
    max-height: 1500px;
}

.card:last-child {
    margin-right: 0;
}

.card-body h5{
    display:flex;
    align-items: center;
    text-align: center;
    height: 30%;
    color: black;
    font-family: 'Montserrat';
    font-size: var(--font-size-p);
}

.card-body{
    display: flex;
    align-items: center;
    flex-direction: column;    
}

.card-title{
    display: flex;
    text-align: center;
}

.card-text{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    color: var(--font-color-1);
    
    height: 100%;    
}

.card-body a{
    width: auto;
    display: flex;
    align-items: center;
}

.card-body a {
    background-color: transparent; 
    border: 1px solid var(--color-a-1);
    color: var(--color-a-1);
    margin-right: 15px;
} 

.card-body a:hover {
    background-color: var(--button-color);
    color: white;
    border: none;
}

/*------------section icons---------------*/

.icon-p{
    left: 4%;
    right: 4%;
    display: flex;
    max-width: 50%;
    padding: 0% 5%;
    flex-direction: column;
    font-family:'Montserrat' ;
    
}

.icon-p h4{
    margin-bottom: 20px;
    font-size: var(--font-size-t);
    color: white;
}

.icon-p p{
    color: var(--font-color-1);
    font-size: 18px;
}

.icon-group{
    left: 4%;
    right: 4%;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);     
}

.icon{
    display: flex;
    justify-content: space-around;
    width: 55px;
    height: 55px;
    background-color: transparent;
}

.icon-column {
    margin-left: 4%;
    margin-right: 4%;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;    
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}


.icon svg path {
    fill: white;
}

/*---------section corp----------*/

.corp-group{
    top: 10%;
    height: 30vw;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.corp-group .corp-title{
    padding: 6% 6% 2% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.corp-title h6{
    padding: 10px;
    font-size: 16px;
    font-family: 'Montserrat';
    color: var(--color-a-1);
}

.corp-fil{
    padding-top: 1%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.logo-corp {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 55px;
    height: 55px;
    background-color: transparent;
}

.logo-corp svg path {
    fill: rgba(128, 128, 128, 0.5); /* Gris con 50% de opacidad */
    
}

/*----------card-group-two-------------*/

.card-group-two {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    font-family:'Montserrat' ;
    color: white;
}

.card-group-1{
    background-color: var(--primary-color);
    width: 90%;
    max-width: 40vw;
    max-height: 15vw;
    height: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 20px;
}

.card-group-1-2 p{
    width: 15vw;
    color: var(--font-color-1);
    font-size: 24px;
}

.card-group-1-2{
    width: 40%;
}

.card-group-1  .btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.card-group-2 .btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.card-group-2-1 p{
    font-size: 24px;
    color: var(--font-color-1);
}

.card-group-2{ right: 5%;
    left: 5%;
    max-width: 40vw;
    max-height: 15vw;
    height: 15vw;
    width: 90%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 20px;
    padding-bottom: 0px;
    justify-content: space-evenly;
}


.card-group-2 img{
    width: 340px;
}

.card-group-two .btn{
    background-color: transparent; 
    border: 1px solid var(--color-a-1);
    color: var(--color-a-1);
    margin-right: 15px;
}

.card-group-two .btn {
    background-color: transparent; 
    border: 1px solid white;
    margin-right: 15px;
    color: white;
} 

.card-group-two .btn:hover {
    background-color: white;
    color: var(--primary-color);
    border: none;
}

/*-------- media querys ---------*/



@media (max-width: 2560px){

    .row-intro-card {
        align-items: center;
        text-align: center;
        height: 16vw;
    }
    .card-group {
        top: 35vw;
    }
    .icon-group{
        height: 40vw;
        right: 4%;
        left: 4%;
        }  
}

@media (max-width: 1440px){
    .row-intro-card {
        align-items: center;
        text-align: center;
        height: 35vw;
        margin: auto;
    }
    .card-group {
        top: 60vw;
    }
    .icon-group{
        height: 40vw;
        right: 4%;
        left: 4%;
        } 
    
    .card-group-1{
        height: 100vw;
        display: flex;
        flex-direction: row;
        max-height: 20vw;
        justify-content: start;
        padding: 10px;
    }
    .card-group-1-2 p{
        width: 25vw;
        color: var(--font-color-1);
        font-size: 20px;
    }
    .card-group-2-1 p{
        width: 20vw;
        color: var(--font-color-1);
        font-size: 20px;
    }
    .card-group-2 img{
        width: 18vw;
    }
    .card-group-2{
        padding: 10px;
        height: 45vw;
        max-height: 20vw;
        padding-top: 10px;
    }
    .card-group-1 h4{
        height: 70px;
    }
    .card-group-2 h4{
        height: 70px;
    }    
}

@media (max-width: 1240px){
    .row-intro-card {
        align-items: center;
        text-align: center;
        height: 50vw;
        margin: auto;
    }
    .card-group {
        top: 60vw;
    }
}

@media (max-width: 1024px){
    .row-intro-card {
        align-items: center;
        text-align: center;
        height: 50vw;
        margin: auto;
    }
    .card-group {
        top: 95vw;
    }
    .icon-group{
        height: 70vw;
        right: 4%;
        left: 4%;
        }
    .card-group-1{
        max-height: 28vw;
    }   
    .card-group-2{
        max-height: 28vw;
    } 
    .card-group-1-2 {
        width: 50%;
    }   
    .card-group-1-2 p{
        height: 10vw;
        font-size: 16px;
    } 
    .card-group-2-1 p{
        height: 10vw;
        font-size: 16px;
    } 
    .card-group-2 img{
        width: 180px;
    }

}

@media (max-width: 995px) {
    .card-group {
        top: 100vw;
    }
    .row-intro-card {
        height: 50vw;
    }
}

@media (max-width: 798px) {
    .card-group {
        top: 130vw;
    }
    .row-intro-card {
        height: 70vw;
    }

    .icon-group{
        height: 80vw;
        right: 4%;
        left: 4%;
    } 
    .card-group-1{
        height: 40vw;
        max-height: 50vw;
    }
    .card-group-2{
        height: 40vw;
        max-height: 40vw;
    }
    .card-group-1 h4{
        font-size: 20px;
    }
    .card-group-1 p{
        height: 16vw;
        font-size: 16px;
    }          
    .card-group-2 p{
        height: 16vw;
        font-size: 16px;
        max-height: 40vw;
    }  
    .card-group-2 h4{
        font-size: 20px;
        max-height: 40vw;
    }
    .card-group-2 img{
        display: none;
        
    }
}

@media (max-width: 425px) {
    .card-group {
        position: relative;
        left: 5%;
        right: 5%;
        top: 0.1vw;
        display: flex;
        flex-direction: column;
    }
    .card {
        max-width: 90%;
        min-height: 30px;
        max-height: 700px;
    }
    .container{
        padding: 40px 0 40px 0;
    }
    .row-intro-card {
        padding: 20px;
    }
    .container .row{
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        
    }
    .row .btn{
        left: 0;
        right: 0;
        margin: 0px;
        width: 100%;
    }
    .row a{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .row h1{
        text-align: center;
        
    }
    .row p{
        width: 100%;
        text-align: center;
    }
    .row-intro-card {
        width: 100%;
    }

    .icon-group{
        height: 260vw;
        right: 5%;
        left: 5%;
        flex-direction: column;
    }

    .icon-p{
        display: flex;
        justify-content: center;
        max-width: none;
        font-size: 14px;
    }  
    .icon-column{
        max-width: 100%;
    }
    .corp-group{
        top: 10%;
        height: 60vw;
        background-color: white;
        justify-content: center;
        align-items: center;
    }
    

    .card-group-1-2{
        width: 100%;
    }

    .card-group-1-2 p{
        width: 100%;
        color: var(--font-color-1);
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-group-2-1 p{
        width: 25vw;
        color: var(--font-color-1);
        font-size: 20px;
    }
    .card-group-two{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family:'Montserrat' ;
        color: white;
        padding: 5px;
    }
    .card-group-1{
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 90%;
        width: 100%;
        min-height: 80vw;
    }
    .card-group-1-2 p{
        text-align: center;
        width: 100%;
        font-size: 16px;   
    }
    .card-group-2-1 p{
        text-align: center;
        width: 100%;
        font-size: 16px;
    }
    .card-group-2 img{
        display: none;
        
    }
    .card-group-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 90%;
        width: 100%;
        min-height: 80vw;
    }
    .card-group-1 h4{
        text-align: center;
        width: 100%;
        font-size: 18px;    
    }
    .card-group-2 h4{
        text-align: center;
        width: 100%;
        font-size: 18px;
    }
}